<!DOCTYPE html>
<html>
  <body>
    <form action="/recipes" method="post">
      <input type="text" name="name" value="name" placeholder="Name">
      <br><br>
      <input type="text" name="description" value="description" placeholder="Description">
      <br><br>
      <input type="text" name="prep_time" value="prep_time" placeholder="Preparation time">
      <br><br>
      <input type="checkbox" name="done" value=true> Done?
      <br><br>
      <input type="text" name="difficulty" value="difficulty" placeholder="Difficulty">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
